@model List<ApplicationConfig>
@{
    ViewData["Title"] = "Configuration du site";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" asp-controller="Home" asp-action="Configuration" method="post">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model[i].Id" readonly />
                            <input type="hidden" asp-for="@Model[i].Action" readonly />
                            <input type="hidden" asp-for="@Model[i].Name" readonly />
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Model[i].Name</label>
                                <div class="col-md-9">
                                    <input asp-for="@Model[i].Value" class="form-control" />
                                    <span asp-validation-for="@Model[i].Value" class="text-danger" />
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
