@{
    ViewData["Title"] = "Tableau de bord";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
        </div>
    </div>
    <div class="x_content">
        @if ((string)ViewData["StatusMessage"] != "")
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @ViewData["StatusMessage"]
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Bienvenue sur l'interface de gestion d'administrateur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->