<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-green">0</span>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li>
            <a>
                <span class="message text-center">Aucune Alerte</span>
            </a>
        </li>
        <!--li>
            <div class="text-center">
                <a href="#">
                    <strong>Voir toutes les Alertes</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li-->
    </ul>
</li>