﻿<!--
    Author : G4ng0r
    Email : jde-sain@student.42.fr
    Start date : 22/11/2016
-->
<!doctype html>
<html lang="fr">
<head>    
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.gif" />

    <title>@ViewData["Title"] - Administration</title>

    <environment names="Development">
        <!-- Bootstrap -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <!-- Select2 -->
        <link href="~/lib/select2/dist/css/select2.css" rel="stylesheet">
        <!-- Dropzone.js -->
        <link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet">
        <!-- Switchery -->
        <link href="~/lib/switchery/dist/switchery.css" rel="stylesheet">
        <!-- FullCalendar -->
        <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="~/css/custom.css" rel="stylesheet">
    </environment>    
    <environment names="Staging,Production">
        <!-- Bootstrap -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Select2 -->
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet">
        <!-- Dropzone.js -->
        <link href="~/lib/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
        <!-- Switchery -->
        <link href="~/lib/switchery/dist/switchery.min.css" rel="stylesheet">
        <!-- FullCalendar -->
        <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="~/css/custom.min.css" rel="stylesheet">
    </environment>

    <!-- PNotify -->
    <link href="~/lib/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/lib/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/lib/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/lib/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/lib/starrr/dist/starrr.css" rel="stylesheet">

    @RenderSection("css", required: false)
</head>

<body class="nav-md">

    <div class="container body">

        <div class="main_container">
            @await Html.PartialAsync("_PanelPartial")
            @await Html.PartialAsync("_LoginPartial")
            @RenderBody()

            <footer>
                <div class="pull-right">
                    Copyright © @DateTime.Now.Year <config id="Copyright" />. All rights reserved | Design by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Developped by <a href="/Home/Credit" target="_blank">G4ng0r</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    <div id="custom_notifications" class="custom-notifications">
      <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
      </ul>
      <div class="clearfix"></div>
      <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
    <environment names="Development">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Dropzone.js -->
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <!-- FullCalendar -->
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/js/custom.js"></script>
    </environment>    
    <environment names="Staging,Production">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Dropzone.js -->
        <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
        <!-- FullCalendar -->
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/js/custom.min.js"></script>
    </environment>

    <script src='~/lib/fullcalendar/dist/lang/fr.js'></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- PNotify -->
    <script src="~/lib/pnotify/dist/pnotify.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.nonblock.js"></script>
    <!-- Custom Notification -->
    <script>
      $(document).ready(function() {
        var cnt = 10;

        TabbedNotification = function(options) {
          var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title +
            "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

          if (!document.getElementById('custom_notifications')) {
            alert('doesnt exists');
          } else {
            $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
            $('#custom_notifications #notif-group').append(message);
            cnt++;
            CustomTabs(options);
          }
        };

        CustomTabs = function(options) {
          $('.tabbed_notifications > div').hide();
          $('.tabbed_notifications > div:first-of-type').show();
          $('#custom_notifications').removeClass('dsp_none');
          $('.notifications a').click(function(e) {
            e.preventDefault();
            var $this = $(this),
              tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
              others = $this.closest('li').siblings().children('a'),
              target = $this.attr('href');
            others.removeClass('active');
            $this.addClass('active');
            $(tabbed_notifications).children('div').hide();
            $(target).show();
          });
        };

        CustomTabs();

        var tabid = idname = '';

        $(document).on('click', '.notification_close', function(e) {
          idname = $(this).parent().parent().attr("id");
          tabid = idname.substr(-2);
          $('#ntf' + tabid).remove();
          $('#ntlink' + tabid).parent().remove();
          $('.notifications a').first().addClass('active');
          $('#notif-group div').first().css('display', 'block');
        });
      });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
