@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="top_nav">
    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @UserManager.GetUserName(User)
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a asp-controller="Account" asp-action="ChangePassword">
                                <span>Changer mon mot de passe</span>
                                <i class="fa fa-user pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="LogOff">
                                Se déconnecter
                                <i class="fa fa-sign-out pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a asp-controller="Home" asp-action="Index" asp-area="" target="_blank">
                        Voir le site
                    </a>
                </li>

                @await Html.PartialAsync("_AlertPartial")

                
            </ul>
        </nav>
    </div>
</div>
