@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{    
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

            <div class="navbar nav_title">
                <a href="/Admin" class="site_title"> 
                    <span>Administration</span>
                </a>
            </div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                <div class="menu_section active">
                    <h3>Menu</h3>
                    <ul class="nav side-menu">
                        <menulink glyphicon="fa fa-calendar" area-name="Admin" controller-name="Reservations" action-name="Index" menu-text="Réservations"></menulink>
                    </ul>
                    <ul class="nav side-menu">
                        <li>
                            <a>
                                <i class="fa fa-pencil"></i> Contenus
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <menulink glyphicon="fa fa-file-image-o" area-name="Admin" controller-name="Galleries" action-name="Index" menu-text="Galerie"></menulink>
                                <menulink glyphicon="fa fa-list" area-name="Admin" controller-name="Menus" action-name="Index"  menu-text="Menu"></menulink>
                                <menulink glyphicon="fa fa-file" area-name="Admin" controller-name="Pages" action-name="Index" menu-text="Pages"></menulink>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav side-menu">
                        <li>
                            <a>
                                <i class="fa fa-wrench"></i> Réglages
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <menulink glyphicon="fa fa-home" area-name="Admin" controller-name="Home" action-name="Index" menu-text="Tableau de bord"></menulink>
                                <menulink glyphicon="fa fa-cog" area-name="Admin" controller-name="Home" action-name="Configuration" menu-text="Configuration"></menulink>
                                <menulink glyphicon="fa fa-facebook" area-name="Admin" controller-name="Home" action-name="Social" menu-text="Réseaux sociaux"></menulink>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /sidebar menu -->
        </div>
    </div>
}