﻿@using Microsoft.AspNetCore.Identity
<!--
    Author : G4ng0r
    Email : jde-sain@student.42.fr
    Start date : 22/11/2016
-->
<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/favicon.gif" />
    <title>@ViewData["Title"] - <config id="AppTitle" /></title>

    <environment names="Development">
        <!-- //for-mobile-apps -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/lib/jquery-ui/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
        <!-- js -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <!-- //js -->
        <!-- pop-up-box -->
        <link rel="stylesheet" type="text/css" href="~/css/jquery.lightbox.css">
        <script src="~/js/jquery.lightbox.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/lib/jquery-ui/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

        <!-- js -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <!-- //js -->
        <!-- pop-up-box -->
        <link rel="stylesheet" type="text/css" href="~/css/jquery.lightbox.min.css">
        <script src="~/js/jquery.lightbox.min.js"></script>
    </environment>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

    @RenderSection("css", required: false)
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
                            <a class="navbar-brand">
                                <a href="/"><img src="~/images/logo.jpg" alt=""></a>
                            </a>
                            <div class="leaf"></div>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <menulink area-name="" controller-name="Home" action-name="Index" menu-text="Accueil"></menulink>
                            <menulink area-name="" controller-name="Home" action-name="Gallery" menu-text="Galerie"></menulink>
                            <menulink area-name="" controller-name="Reserve" action-name="Index" menu-text="Prendre une réservation"></menulink>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plus <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    @Html.RenderAction("_MenuPartial", "Home", "")
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    <!-- //header -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="footer-grids">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h4>Plan de site</h4>
                    <ul>
                        <menulink area-name="" controller-name="Home" action-name="Index" menu-text="Accueil"></menulink>
                        <menulink area-name="" controller-name="Home" action-name="Gallery" menu-text="Galerie"></menulink>
                        <menulink area-name="" controller-name="Reserve" action-name="Index" menu-text="Prendre une réservation"></menulink>
                    </ul>
                </div>
                <div class="col-md-6 footer-grid">
                    <h4>Partenaire</h4>
                    <ul class="social-icons">
                        <li><img src="~/images/partner/1.jpg" alt=""></li>
                        <li><img src="~/images/partner/2.jpg" alt=""></li>
                        <li><img src="~/images/partner/3.jpg" alt=""></li>
                        <li><img src="~/images/partner/4.jpg" alt=""></li>
                        <li><img src="~/images/partner/5.jpg" alt=""></li>
                        <li><img src="~/images/partner/6.jpg" alt=""></li>
                    </ul>
                </div>
                <div id="where" class="col-md-3 footer-grid contact-grid">
                    <h4>Où sommes-nous ?</h4>
                    <ul>
                        <li>
                            <span class="c-icon"> </span>
                            <a href="https://www.google.fr/maps/place/Unnamed+Road,+28290+Arrou/@@48.0898655,1.1171642,17z/data=!4m5!3m4!1s0x47e39d94abf839f1:0x54e010a0e92f0e24!8m2!3d48.0899516!4d1.1149219">
                                <config id="Address" /><br />
                                <config id="ZipCode" /> 
                                <config id="City" />
                            </a>
                        </li>
                        <li><span class="c-icon1"> </span><configlink id="Email" type="mail" /></li>
                    </ul>
                    <ul class="social-icons">
                        <li><configlink id="Facebook" type="" class="facebook" target="_blank" /></li>
                        <li><configlink id="Youtube" type="" class="thumb" target="_blank" /></li>
                        <li><configlink id="Instagram" type="" class="instagram" target="_blank" /></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copy">
            <p>Copyright © @DateTime.Now.Year <config id="Copyright" />. All rights reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a> | Developped by <a href="/Home/Credit" target="_blank">G4ng0r</a></p>
        </div>
    </div>

    <!-- for bootstrap working -->
    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"> </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"> </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
