@{
    ViewData["Title"] = "Error";
}

<!-- boostrap-icons -->
<div class="boostrap-icons">
    <div class="container">
        <h3 class="ghj">@ViewData["Title"]</h3>
        Oops
    </div>
</div>
<!-- //boostrap-icons -->