@model ApplicationReservation
@{
    ViewData["Title"] = "Supprimer une réservation";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <input asp-for="FirstName" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <input asp-for="LastName" readonly class="form-control" />
                    </div>

                    <form class="form-horizontal form-label-left" asp-action="Delete">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <h2>Êtes vous sur de votre choix ?</h2>
                                <input type="submit" value="Supprimer" class="btn btn-danger" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>