@model ApplicationReservation
@{
    ViewData["Title"] = "Editer la réservation";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" asp-action="Edit" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" readonly class="form-control" />

                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger" />
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label asp-for="IPAdress" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="IPAdress" readonly class="form-control" />
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label asp-for="@Model.ReservationInfos.First().Slot" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                @if (Model.ReservationInfos.Count() > 0)
                                {
                                <input name="slot" asp-for="@Model.ReservationInfos.First().Slot" required class="form-control" />
                                }
                                else
                                {
                                <input name="slot" required class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Début</label>
                            <div class="col-md-10">
                                @if (Model.ReservationInfos.Count() > 0)
                                {
                                <input type="date" name="start" type="date" asp-for="@Model.ReservationInfos.First().Date" required class="form-control" />
                                }
                                else
                                {
                                <input type="date" name="start" required class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Fin</label>
                            <div class="col-md-10">
                                @if (Model.ReservationInfos.Count() > 0)
                                {
                                <input type="date" name="end" type="date" asp-for="@Model.ReservationInfos.Last().Date" required class="form-control" />
                                }
                                else
                                {
                                <input type="date" name="end" required class="form-control" />
                                }
                            </div>
                        </div>
                    
                        @for (int i = 0; i < Model.ReservationInfos.Count(); i++)
                        {
                            <input type="hidden" asp-for="@Model.ReservationInfos[i].Id" readonly />
                            <input type="hidden" asp-for="@Model.ReservationInfos[i].Date" readonly />
                            <input type="hidden" asp-for="@Model.ReservationInfos[i].Slot" readonly />
                        }

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Supprimer</a>
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
