@{
    ViewData["Title"] = "Gestion des réservations";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-xs-12">  
                  
                @if ((string)ViewData["StatusMessage"] != "")
                {
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        @ViewData["StatusMessage"]
                    </div>
                }

            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="collapse-link" asp-controller="Events" asp-action="Create" data><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title'
        },
        defaultDate: new Date(),
        navLinks: true,
        editable: false,
        eventLimit: false,
        events: @Html.Raw(JsonConvert.SerializeObject(Model)),
        eventClick: function(calEvent, jsEvent, view) {
            window.location = '/Admin/Reservations/Edit/'+ calEvent.id;
        },
        locale: 'fr'
    });
</script>
}