@model ApplicationMenu
@{
    ViewData["Title"] = "Editer un lien";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" asp-controller="Menus" asp-action="Edit" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Id" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Id" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="MenuText" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="MenuText" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LinkUrl" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="LinkUrl" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
