@model IEnumerable<ApplicationMenu>
@{
    ViewData["Title"] = "Gestion du menu";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            @if ((string)ViewData["StatusMessage"] != "")
            {
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    @ViewData["StatusMessage"]
                </div>
            }

            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="collapse-link" asp-action="Create" data><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                            <tr>
                            <th> </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MenuText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LinkUrl)
                            </th>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="col-md-1">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a></li>
                                    <li><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove"></i></a></li>
                                </ul>
                            </td>
                            <td class="col-md-2">
                                @Html.DisplayFor(modelItem => item.MenuText)
                            </td>
                            <td class="col-md-10">
                                @Html.DisplayFor(modelItem => item.LinkUrl)
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>