@model ApplicationPage
@section Css {
    <!-- Make sure the path to CKEditor is correct. -->
    <script src="~/lib/ckeditor/ckeditor.js"></script>
}
@{
    ViewData["Title"] = "Editer une page";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" asp-controller="Pages" asp-action="Edit" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>                    
                        <input type="hidden" asp-for="Id" readonly class="form-control" />
                        <div class="form-group">
                            <label asp-for="Name" class="col-md-2 control-label"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea id="editor" asp-for="Content" class="form-control"></textarea>
                                <script>
                                    CKEDITOR.replace( 'editor' );
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
