@model IEnumerable<ApplicationPage>
@{
    ViewData["Title"] = "Gestion des pages";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-xs-12">            
            @if ((string)ViewData["StatusMessage"] != "")
            {
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    @ViewData["StatusMessage"]
                </div>
            }

            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="collapse-link" asp-action="Create" data><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                            <tr>
                            <th> </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Lien
                            </th>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="col-md-1">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a href="/Home/Page/@item.Id" target="_blank"><i class="fa fa-search"></i></a></li>
                                    <li><a href="javascript:void(0)" onclick="CopyToClipboard('/Home/Page/@item.Id')"><i class="fa fa-clipboard"></i></a></li>
                                    <li><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a></li>
                                    <li><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove"></i></a></li>
                                </ul>
                            </td>
                            <td class="col-md-2">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="col-md-10">
                                /Home/Page/@item.Id
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CopyToClipboard(link) {
        var textToClipboard = link;
        
        var success = true;
        if (window.clipboardData) { // Internet Explorer
            window.clipboardData.setData ("Text", textToClipboard);
        }
        else {
            // create a temporary element for the execCommand method
            var forExecElement = CreateElementForExecCommand (textToClipboard);

            /* Select the contents of the element 
                (the execCommand for 'copy' method works on the selection) */
            SelectContent (forExecElement);

            var supported = true;

            // UniversalXPConnect privilege is required for clipboard access in Firefox
            try {
                if (window.netscape && netscape.security) {
                    netscape.security.PrivilegeManager.enablePrivilege ("UniversalXPConnect");
                }

                // Copy the selected content to the clipboard
                // Works in Firefox and in Safari before version 5
                success = document.execCommand ("copy", false, null);
            }
            catch (e) {
                success = false;
            }
            
            // remove the temporary element
            document.body.removeChild (forExecElement);
        }

        if (success) {
            new TabbedNotification({
                title: 'Copie du lien',
                text: 'Le lien a été placer dans le presse-papier.',
                type: 'success',
                sound: true
            });
        }
        else
        {
            new TabbedNotification({
                title: 'Copie du lien',
                text: 'Le navigateur n\'autorise pas l\'accés au presse papier.',
                type: 'fail',
                sound: true
            });
        }
    }

    function CreateElementForExecCommand (textToClipboard) {
        var forExecElement = document.createElement ("div");
        // place outside the visible area
        forExecElement.style.position = "absolute";
        forExecElement.style.left = "-10000px";
        forExecElement.style.top = "-10000px";
        // write the necessary text into the element and append to the document
        forExecElement.textContent = textToClipboard;
        document.body.appendChild (forExecElement);
        // the contentEditable mode is necessary for the  execCommand method in Firefox
        forExecElement.contentEditable = true;

        return forExecElement;
    }

        function SelectContent (element) {
            // first create a range
        var rangeToSelect = document.createRange ();
        rangeToSelect.selectNodeContents (element);

            // select the contents
        var selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (rangeToSelect);
    }
</script>