@{
    ViewData["Title"] = "Développeur";
}
<div class="credit">
    <div class="container">
        <div class="why-choose-grids ">
            <div class="col-md-12 why-choose-grid">
                <div class="why-choose-grid-hover">
					<p>@ViewData["Title"]</p>
				</div>
                <div class="why-choose-grds" style="background:white">
                    <div class="col-xs-5 why-choose-grd text-center">
                        <img src="~/images/42.png" alt=" " style="margin-top: 20px;">
                        <div class="container-fluid">
                            <h2>Me contacter :</h2>
                            Mail : <a href="mailto:jde-sain@student.42.fr">jde-sain@student.42.fr</a><br>
                            Skype : <a href="skype:muramassaa?add">muramassaa</a><br>
                            Téléphone : <a href="tel:0620096873">06.20.09.68.73</a>
                        </div>
                    </div>

                    <div class="col-xs-7 why-choose-grd-right">
                        <p>Je m'appelle Joël, autodidate, et passionné de nouvelles technogies, j'ai pour vocation le développement informatique.</p>
                        <br>
                        <p>Je me suis formé dans un premier temps moi même puis j'ai par la suite été admis à l'école 42.</p>
                        <p>L'école 42, ma permis d'acquérir une base et moyen de travaille pour progresser avec plus d'autonomie.</p>
                        <br>
                        <p>Spécialisé dans les languages Microsoft .NET en c# dans l'environnement .NET core, application avec ou sans interface.</p>
                        <p>Ma maitrise de Sql Server est un plus qui peut être indispensable à la conception d'un projet.</p>
                        <br>
                        <p>Vous avez besoin d'un site sur mesure ? d'une application ? ou encore vous cherchez à recruter un développeur.</p>
                        <p>N'hésitez pas à me contacter.</p>
                        <br>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
         <div class="clearfix"> </div>
    </div>
</div>
<!-- //boostrap-icons -->