@model GalleryViewModel
@{
    ViewData["Title"] = "Galerie";
}
<div class="gallery">
    <div class="container">
        @if (Model.Images.Count == 0)
        {
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="display: list-item;">
                            <div class="banner-info">
                                <h1>Galerie</h1>
                                <p>La galerie n'a pas d'image pour l'instant.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        }
        else
        {
        <div class="gallery-grids">
            @foreach (var item in Model.Images)
            {
            <div class="col-md-3 gallery-grid">
                <div class="gallery-grd">
                    <a class="mask" href="~/uploads/@item.Image">
                        <img src="~/uploads/@item.ThumbnailImage" onerror="this.src='/images/undefined.png'" alt="" class="img-responsive">
                        </a>
                </div>
            </div>
            }
            <div class="row">
                <div class="col-sm-12 about-grid">
                    <nav>
                        <ul class="pagination">
                            @if (Model.Previous != -1)
                            {
                            <li class="paginate_button previous" id="datatable-keytable_previous">
                                <a asp-controller="Home" asp-action="Gallery" asp-route-id="@Model.Previous" aria-controls="datatable-keytable" data-dt-idx="@Model.Previous" tabindex="0">Précédent</a>
                            </li>
                            }
                            else
                            {
                            <li class="paginate_button previous disabled" id="datatable-keytable_previous">
                                <a href="#" aria-controls="datatable-keytable" data-dt-idx="0" tabindex="0">Précédent</a>
                            </li>
                            }
                            @for(int index = 1; index <= Model.PageCount; index++)
                            {
                                if (index == Model.Page)
                                {
                                <li class="paginate_button paginate_button active">
                                    <a href="#" aria-controls="datatable-keytable" data-dt-idx="@index" tabindex="0">@index</a>
                                </li>
                                }
                                else
                                {
                                <li class="paginate_button paginate_button">
                                    <a asp-controller="Home" asp-action="Gallery" asp-route-id="@index" aria-controls="datatable-keytable" data-dt-idx="@index" tabindex="0">@index</a>
                                </li>
                                }
                            }
                            @if (Model.Next != -1)
                            {
                                <li class="paginate_button next" id="datatable-keytable_next">
                                    <a asp-controller="Home" asp-action="Gallery" asp-route-id="@Model.Next" aria-controls="datatable-keytable" data-dt-idx="@Model.Next" tabindex="0">Suivant</a>
                                </li>
                            }
                            else
                            {
                            <li class="paginate_button next disabled" id="datatable-keytable_previous">
                                <a href="#" aria-controls="datatable-keytable" data-dt-idx="0" tabindex="0">Suivant</a>
                            </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>    
            <div class="clearfix"> </div>        
        </div>    
        }
    </div>
</div>
<script>
$(function() {
    $(this).bind("contextmenu", function(e) {
        e.preventDefault();
    });
});
</script>
<script>
// Initiate Lightbox
$(function() {
    $('.gallery-grd a').lightbox(); 
});
</script>