@{
    ViewData["Title"] = "Accueil";
}

<!-- banner -->
<div class="banner">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner-info">
                            <h1>Réservation pêche de nuit Arrou</h1>
                            <p>
                                Réserver votre poste de pêche de nuit pour le <a href="#where">Plan D'Eau Du Pont Foulon d'Arrou</a>, avant de réserver merci de prendre connaissance des règles dans la rubrique <a asp-action="Page" asp-route-id="1">règlement</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <environment names="Development">
            <!--FlexSlider-->
            <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
            <script defer src="~/js/jquery.flexslider.js"></script>
        </environment>
        <environment names="Staging,Production">
            <!--FlexSlider-->
            <link rel="stylesheet" href="~/css/flexslider.min.css" type="text/css" media="screen" />
            <script defer src="~/js/jquery.flexslider.min.js"></script>
        </environment>
        <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<!-- //banner -->
