@model ApplicationPage
@{
    ViewData["Title"] = Model.Name;
}
<!-- boostrap-icons -->
<div class="boostrap-icons">
    <div class="container">
        <h3 class="ghj">@Model.Name</h3>
        @(new HtmlString(Model.Content))
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //boostrap-icons -->
