@{
    ViewData["Title"] = "Réglement";
}
<!-- boostrap-icons -->
<div class="boostrap-icons">
    <div class="container">
        <h3 class="ghj">@ViewData["Title"].</h3>
        <p>@ViewData["Message"]</p>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //boostrap-icons -->
