<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.gif" />
    <title>@ViewData["Title"] - Administration</title>

    <environment names="Development">
        <!-- Bootstrap -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <!-- js -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Custom Theme Style -->
        <link href="~/css/custom.css" rel="stylesheet">
    </environment>    
    <environment names="Staging,Production">
        <!-- Bootstrap -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- js -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!-- Custom Theme Style -->
        <link href="~/css/custom.min.css" rel="stylesheet">
    </environment>

    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    @RenderSection("css", required: false)
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                        @RenderBody()
                        <div class="separator">
                            <div>
                                <p>Copyright © @DateTime.Now.Year <config id="Copyright" />. All rights reserved</p>
                                Design by <a href="https://colorlib.com">Colorlib</a> | Developped by <a href="mailto:jde-sain@student.42.fr">G4ng0r</a>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
