@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Mot de passe";
}


<form asp-controller="Account" asp-action="ChangePassword" method="post" role="form">
    <h1>@ViewData["Title"]</h1>

    <div asp-validation-summary="All" class="ui error message"></div>
    <div>
        <i class="lock icon"></i>
        <input asp-for="OldPassword" class="form-control" placeholder="Mot de passe actuel"/>
    </div>

    <div>
        <i class="lock icon"></i>
        <input asp-for="NewPassword" class="form-control" placeholder="Nouveau mot de passe"/>
    </div>

    <div>
        <i class="lock icon"></i>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmer" />
    </div>
    <br/>
    <div>
        <button type="submit" class="btn btn-default submit">Modifier mon mot de passe</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
