@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
}
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h1>Connexion</h1>

    <div asp-validation-summary="All" class="ui error message"></div>
    <div>
        <i class="user icon"></i>
        <input asp-for="UserName" class="form-control" placeholder="Identifiant" />
    </div>
    <div>
        <i class="lock icon"></i>
        <input asp-for="Password" class="form-control" placeholder="Mot de passe" />
    </div>
    <div>
        <label class="form-check-label">
            <input asp-for="RememberMe" class="form-check-input" type="checkbox"> Se souvenir de moi ?
        </label>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-default submit">Connexion</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
