@model InformationViewModel
@using System.Globalization;
@{
    ViewData["Title"] = "Réservation enregistrée";
}

<div class="contact">
    <div class="container">
        <div class="why-choose-grids ">
            <div class="col-md-12 why-choose-grid">
                <div class="why-choose-grid-hover">
					<p>@ViewData["Title"]</p>
				</div>
                <div class="why-choose-grds" style="background:white">
                    <div class="col-xs-5 why-choose-grd">
                        <img src="/images/partner.jpg" alt=" " class="img-responsive">
                    </div>
                    <div class="col-xs-7 why-choose-grd-right">
                        <p>Votre réservation a bien été enregistré.</p>

                        <hr>

                        <h4>Resumé de réservation</h4>
                        <p><strong>Poste</strong> : @Model.Slot</p>
                        @if (Model.Start.Value != Model.End.Value)
                        {
                            <p><strong>Période</strong> : du @Model.Start.Value.ToString("M") au @Model.End.Value.ToString("D")</p>
                        }
                        else
                        {
                            <p><strong>Journée du</strong> : @Model.Start.Value.ToString("D")</p>
                        }

                        <hr>

                        <p>En cas de problème ou si vous souhaitez modifier votre réservation, merci de prendre contact à un des numéros suivants :</p>
                        <p>Monsieur Julien CLEMENT: Tel: 06.37.10.61.34</p>
                        <p>Monsieur John BORDIER : Tel: 06.23.89.32.92</p>
					</div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
         <div class="clearfix"> </div>
    </div>
</div>