@{
    ViewData["Title"] = "Ajouter une image";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="addGalleryForm" class="dropzone dz-clickable" asp-area="Admin" asp-controller="Galleries" asp-action="Upload" method="post">
                        <div class="dz-default dz-message">
                            <span>Glisser les images ici.</span>
                        </div>
                    </form>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <a class="btn btn-default" asp-action="Index">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>