@{
    ViewData["Title"] = "Supprimer un lien";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">                    
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumbnail">
                                <div class="view view-first">
                                    <img style="width: 100%; height: 100%; display: block;" src="~/uploads/@Model.ThumbnailImage" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="form-horizontal form-label-left" asp-action="Delete">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h2>Êtes vous sur de votre choix ?</h2>
                                <input type="submit" value="Supprimer" class="btn btn-danger" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>