@model ApplicationImage
@{
    ViewData["Title"] = "Remplacer l'image";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-5">
                            <div class="thumbnail">
                                <div class="view view-first">
                                    <img style="width: 100%; height: 100%; display: block;" src="~/uploads/@Model.ThumbnailImage" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal form-label-left" asp-controller="Galleries" asp-action="Edit" enctype="multipart/form-data" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" class="form-control" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Image</label>
                            <div class="col-md-10">
                                <input id="image" name="image" type="file" multiple class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                <a class="btn btn-default" asp-action="Index">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
