@model IEnumerable<ApplicationImage>
@{
    ViewData["Title"] = "Gestion de la galerie";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="collapse-link" asp-action="Create" data><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="view view-first">
                                    <img style="width: 100%; display: block;" src="~/uploads/@item.ThumbnailImage" onerror="this.src='/images/undefined.png'" alt="image">
                                    <div class="mask">
                                        <div class="tools tools-bottom">
                                            <a href="~/uploads/@item.Image" target="_blank"><i class="fa fa-search-plus"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        @if (Model.Count() == 0)
                        {
                            <p>Aucune image dans la galerie.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>